body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
} 

a {
    text-decoration: none;

    &:hover {
        color: $tangerine;
    }

    &:active {
        color: $tangerine;
    }
}

p {
    line-height: 1.5em;
}