@mixin center-element-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-vertical-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin desktop-breakpoint {
    @media (min-width: $breakpoint-xs) {
        @content;
    }
}

@mixin mobile-breakpoint {
    @media (max-width: $breakpoint-xs - 1) {
        @content;
    }
}
