//colores
$white: #fff;
$orange: #ffa500;
$tangerine: #ffaf6d;
$sable: #060606;
$black: #000;
$charcoal: #2e1503;

//tipograrifas
$font-ubuntu: "Ubuntu", sans-serif;
$font-poppins: "Poppins", serif;
$font-regular: 400;
$font-bold: 700;

$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// breakpoints
$breakpoint-xs: 576px;
