@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

/* en sass la animación va en base */
@keyframes translate {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ffaf6d;
}
a:active {
  color: #ffaf6d;
}

p {
  line-height: 1.5em;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.navbar {
  /* width: 100%; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar__list {
  list-style: none;
  margin-bottom: 0;
  padding: 2rem 1rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 35%;
  right: 0px;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.navbar__item {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
  font-size: 14px;
}

.navbar__item--toggler {
  text-decoration: none;
  width: 10%;
}

.navbar__toggler {
  font-size: 30px;
  color: #fff;
}

.navbar__toggler:hover {
  color: #ffa500;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ .navbar__list {
  transform: translateX(0%);
}

.navbar__logo {
  width: 100%;
  max-width: 40px;
}

@media (min-width: 576px) {
  .navbar__toggler {
    display: none;
  }

  .navbar__list {
    height: auto;
    width: auto;
    transform: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }
}
.header {
  text-align: center;
}
.header img {
  width: 40%;
}

.container {
  margin: 1em auto;
  width: 98%;
}

/* Footer */
.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  font-size: 12px;
}

.footer__text {
  color: white;
  text-align: center;
}

.footer__links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__links .link {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
}

.footer__form {
  display: flex;
}

@media (min-width: 576px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__links {
    flex-direction: row;
    align-items: center;
  }

  .footer__links .link {
    margin-bottom: 0;
    margin-right: 1em;
  }

  /* .footer__links .link:nth-child(1) {
      color: red;
    } */
}
.button {
  background-color: #ffa500;
}

.button:hover {
  background-color: #fff;
}

.text-input {
  background-color: #fff;
}

.text-input:focus {
  background-color: #ffa500;
}

.cursos {
  border: 1px solid #060606;
  padding: 1em;
  margin-right: 1em;
}

.cursos__card {
  border: 1px solid lightgray;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.cursos__icons span {
  margin-left: 5px;
  margin-right: 10px;
}

.empresa {
  border: 1px solid #060606;
  padding: 1em;
  margin-left: 1em;
}
.empresa .etiqueta {
  animation: translate 2s linear infinite alternate;
}
.empresa .tuerca__interna,
.empresa .tuerca__externa {
  animation: rotate 2s linear infinite;
  transform-origin: 80% 80%;
}

.empresa__card {
  text-align: center;
}

.empresa__img {
  border: 1px solid #000;
  width: 40%;
  border-radius: 50%;
}

.empresa__networks i {
  margin-right: 10px;
}

.empresa__description {
  text-align: justify;
}

.empresa__more-title {
  background-color: #2e1503;
  color: white;
  width: 100%;
}

.empresa__more-courses {
  text-align: left;
  list-style: circle;
}

.empresa__animated {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
